# SQL style guide

Việc viết chuẩn format code của bất kỳ ngôn ngữ nào đều rất quan trọng, sẽ giúp cho việc theo dõi và đọc code thuận tiện hơn rất nhiều. Các lưu ý khi viết format code SQL

## Viết thường câu lệnh

```sql
-- Good
select * from users

-- Bad
SELECT * FROM users

-- Bad
Select * From users

```

## Mỗi cột cần được tách thành các dòng khác nhau trong select

```sql
-- Good
select 
    id
from users 

-- Good
select 
    id,
    email
from users 

-- Good
select 
    id
    , email
    , name
from users 

-- Bad
select id, name
from users 

```

## Các điều kiện trong where cần viết lùi vào trong

```sql
-- Good
select *
from users
where 
    email = 'example@domain.com'

-- Good
select *
from users
where 
    email like '%@domain.com' and 
    created_at >= '2021-10-08'

-- Bad
select *
from users
where email = 'example@domain.com'

-- Bad
select *
from users
where 
    email like '%@domain.com' and created_at >= '2021-10-08'

-- Bad
select *
from users
where 
    email like '%@domain.com' 
    and created_at >= '2021-10-08'

```

## Căn trái các keyword chính

```sql
-- Good
select
  column_name1,
  column_name2,
  column_name3
from table_1
join table_2
  on table_1.id = table_2.id
where clouds = true
  and gem = true
group by 1,2,3
having column_name1 > 0
  and column_name2 > 0

```

## Khoảng trắng trong dấu ngoặc

```sql
-- Good
select *
from users
where 
    id in (1, 2)

-- Bad
select *
from users
where 
    id in ( 1, 2 )

```

## Tách dòng trong điều kiện in nhiều giá trị

```sql
-- Good
select *
from users
where 
    email in (
        'user-1@example.com',
        'user-2@example.com',
        'user-3@example.com',
        'user-4@example.com'
    )

```

## Tên các bảng và cột

Vì các bảng và cột thường đặt tên tiếng anh nên với các tên bảng/cột đặt tiếng anh nên các lưu ý như sau:

- viêt thường
- Bảng đặt tên có dấu
- Cột đặt tên không dấu

```sql
-- Good
select * 
from users

-- Good
select * 
from visit_logs

-- Bad
select * 
from user

-- Bad
select * 
from visitLog

```

```sql
-- Good
select
    id,
    email,
    timestamp_trunc(created_at, month) as signup_month
from users

-- Bad
select
    id,
    email,
    timestamp_trunc(created_at, month) as SignupMonth
from users

```

## Các lưu ý format khi join

Đặt điều kiện join theo thứ tự bảng

```sql
-- Good
select
    ...
from users
left join charges on users.id = charges.user_id
-- primary_key = foreign_key --> one-to-many --> fanout
  
select
    ...
from charges
left join users on charges.user_id = users.id
-- foreign_key = primary_key --> many-to-one --> no fanout

-- Bad
select
    ...
from users
left join charges on charges.user_id = users.id

```

<center><font size=4>&sect;</font></center>

Khi join nhiều điều kiện, cần phân tách điều kiện theo các dòng khác nhau

```sql
-- Good
select
    users.email,
    sum(charges.amount) as total_revenue
from users
inner join charges on 
    users.id = charges.user_id and
    users.account = charges.account
group by email

```

<center><font size=4>&sect;</font></center>

Khi join chỉ có 1 điều kiện, các thể để điều kiện cùng dòng với join

```sql
-- Good
select
    users.email,
    sum(charges.amount) as total_revenue
from users
inner join charges on users.id = charges.user_id

```

## Các cột được group được đẩy lên trước

```sql
-- Good
select
  timestamp_trunc(com_created_at, year) as signup_year,
  count(*) as total_companies
from companies
group by signup_year

-- Bad
select
  count(*) as total_companies,
  timestamp_trunc(com_created_at, year) as signup_year
from mysql_helpscout.helpscout_companies
group by signup_year

```

## Case when

```sql
-- Good
select
    case
        when event_name = 'viewed_homepage' then 'Homepage'
        when event_name = 'viewed_editor' then 'Editor'
        else 'Other'
    end as page_name
from events

-- Good too
select
    case
        when event_name = 'viewed_homepage'
            then 'Homepage'
        when event_name = 'viewed_editor'
            then 'Editor'
        else 'Other'            
    end as page_name
from events

-- Bad 
select
    case when event_name = 'viewed_homepage' then 'Homepage'
        when event_name = 'viewed_editor' then 'Editor'
        else 'Other'        
    end as page_name
from events

```

## Dùng bảng ảo CTE

Khi dùng bảng áo, có các lưu ý format như sau:

- Đẩy nội dung câu lệnh tạo bảng ảo vào trong (1 tab)
- Đặt tên bảng ảo có ý nghĩa

```sql
-- Good
with ordered_details as (

    select
        user_id,
        name,
        row_number() over (partition by user_id order by date_updated desc) as details_rank
    from billingdaddy.billing_stored_details

),

first_updates as (

    select 
        user_id, 
        name
    from ordered_details
    where 
        details_rank = 1

)

select * from first_updates

```

## Tài liệu tham khảo

- https://github.com/mattm/sql-style-guide
- https://about.gitlab.com/handbook/business-technology/data-team/platform/sql-style-guide/